/* Google Font - Plus Jakarta Sans */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");

/* Variables */
:root {
  /* Colors */
  --colors-dark-blue-gray: #666ca3;
  --colors-yankees-blue: #13183f;
  --colors-silver: #83869a;
  --colors-pink: #f74780;
  --colors-carnation-pink: #ffa7c3;
  --colors-white: #ffffff;
  --colors-g-magenta-orange: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  --colors-g-magenta-blue: linear-gradient(
    180deg,
    #4851ff -54.32%,
    #f02aa6 100%
  );
  --colors-g-hover: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  /* Fonts */
  --fonts-main: "Plus Jakarta Sans", sans-serif;
}

/* Global Rules  */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--fonts-main);
  cursor: default;
}

/* Typography */
h1 {
  font-size: 2.5rem;
  line-height: 1.25;
}
h2 {
  font-size: 1.5rem;
  line-height: 1.333;
  color: var(--colors-white);
}
h3 {
  font-size: 1.25rem;
}
h1,
h3 {
  color: var(--colors-yankees-blue);
}
h1,
h2,
h3 {
  font-weight: 800;
}
p {
  font-size: 1rem;
  line-height: 1.625;
  color: var(--colors-silver);
}

/* Reset Some Elements */
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

/* Buttons */
.btn {
  width: 140px;
  height: 48px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--colors-white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
}
.byn-yan-blue {
  background-color: var(--colors-yankees-blue);
}
.byn-yan-blue:hover {
  background-color: var(--colors-dark-blue-gray);
}
.btn-mag-blue {
  background-image: var(--colors-g-magenta-blue);
}
.btn-mag-blue:hover {
  background-image: var(--colors-g-hover), var(--colors-g-magenta-blue);
}
.btn-mag-orange {
  width: 167px;
  height: 56px;
  background-image: var(--colors-g-magenta-orange);
  border-radius: 31.5px;
  -webkit-border-radius: 31.5px;
  -moz-border-radius: 31.5px;
  -ms-border-radius: 31.5px;
  -o-border-radius: 31.5px;
}
.btn-mag-orange:hover {
  background-image: var(--colors-g-hover), var(--colors-g-magenta-orange);
}

/* Links */
.link {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--colors-pink);
}
.link:hover {
  color: var(--colors-carnation-pink);
}

/* Container */
.container {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 375px), (max-width: 375px) {
  .container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (min-width: 576px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 689px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 892px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1110px;
  }
}

/* Logo */
.logo {
  width: 86px;
  height: 21px;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Header */
header {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

/* Hero section */
.hero {
  padding-top: 80px;
  overflow: hidden;
}
.hero__container {
  padding-top: 22px;
  display: flex;
  flex-direction: column;
}
.hero__content h1 {
  max-width: 326px;
}
.hero__content p {
  max-width: 400px;
  padding: 26px 0 24px;
}
.hero__img {
  width: 327px;
  height: 380px;
  margin-top: 28px;
  align-self: center;
}
.hero__img img {
  width: 170%;
  height: 100%;
  object-fit: cover;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* Courses section */
.courses {
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}
.courses__container {
  padding-bottom: 80px;
}
.courses__list {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 11px;
}
.courses__heading {
  background-image: var(--colors-g-magenta-orange);
  padding: 24px 28px 32px;
}
.courses__heading h2 {
  max-width: 286px;
}
.courses__heading,
.courses__course {
  max-width: 339px;
  border-radius: 10px;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
}
.courses__course {
  background-color: var(--colors-white);
  padding: 56px 28px 32px;
  position: relative;
}
.courses__course p {
  padding: 16px 0 24px;
}
.courses__course::before {
  content: "";
  position: absolute;
  top: -24px;
  left: 28px;
  display: block;
  width: 56px;
  height: 56px;
  background-repeat: no-repeat;
}
.courses__course:first-of-type::before {
  background-image: url(../assets/icon-animation.svg);
}
.courses__course:nth-of-type(2)::before {
  background-image: url(../assets/icon-design.svg);
}
.courses__course:nth-of-type(3)::before {
  background-image: url(../assets/icon-photography.svg);
}
.courses__course:nth-of-type(4)::before {
  background-image: url(../assets/icon-crypto.svg);
}
.courses__course:last-of-type::before {
  background-image: url(../assets/icon-business.svg);
}

/* Footer */
footer {
  background-color: var(--colors-yankees-blue);
}
.footer__container {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
