/* Google Font - Plus Jakarta Sans */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");

/* Variables */
:root {
  /* Colors */
  --colors-dark-blue-gray: #666ca3;
  --colors-yankees-blue: #13183f;
  --colors-silver: #83869a;
  --colors-pink: #f74780;
  --colors-carnation-pink: #ffa7c3;
  --colors-white: #ffffff;
  --colors-g-magenta-orange: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  --colors-g-magenta-blue: linear-gradient(
    180deg,
    #4851ff -54.32%,
    #f02aa6 100%
  );
  --colors-g-hover: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  /* Fonts */
  --fonts-main: "Plus Jakarta Sans", sans-serif;
}

/* Global Rules  */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--fonts-main);
  cursor: default;
}

/* Typography */
h1 {
  font-size: 2.5rem;
  line-height: 1.25;
}
h1,
h3 {
  color: var(--colors-yankees-blue);
}
h2 {
  font-size: 1.5rem;
  line-height: 1.333;
  color: var(--colors-white);
}
h3 {
  font-size: 1.25rem;
}
p {
  font-size: 1rem;
  line-height: 1.625;
  color: var(--colors-silver);
}

/* Reset Some Elements */
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

/* Buttons */
.btn {
  width: 140px;
  height: 48px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--colors-white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
}
.byn-yan-blue {
  background-color: var(--colors-yankees-blue);
}
.byn-yan-blue:hover {
  background-color: var(--colors-dark-blue-gray);
}
.btn-mag-blue {
  background-image: var(--colors-g-magenta-blue);
}
.btn-mag-blue:hover {
  background-image: var(--colors-g-hover), var(--colors-g-magenta-blue);
}
.btn-mag-orange {
  width: 167px;
  height: 56px;
  background-image: var(--colors-g-magenta-orange);
  border-radius: 31.5px;
  -webkit-border-radius: 31.5px;
  -moz-border-radius: 31.5px;
  -ms-border-radius: 31.5px;
  -o-border-radius: 31.5px;
}
.btn-mag-orange:hover {
  background-image: var(--colors-g-hover), var(--colors-g-magenta-orange);
}

/* Links */
.link {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--colors-pink);
}
.link:hover {
  color: var(--colors-carnation-pink);
}

/* Container */
.container {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 375px), (max-width: 375px) {
  .container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (min-width: 576px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 689px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1110px;
  }
}

/* Header */
header {
  position: absolute;
  width: 100%;
  z-index: 1;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header__logo {
  width: 86px;
  height: 21px;
}
.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Hero section */
.hero {
  padding-top: 80px;
  overflow: hidden;

}
.hero__container {
  padding-top: 22px;
}
.hero__content {
}
.hero__content h2 {
}
.hero__content p {
  padding: 26px 0 24px;
}
.hero__img {
  width: 327px;
  margin-top: 28px;
}
.hero__img img {
  width: 140%;
  height: 100%;
  object-fit: cover;
  position: relative;
  left: 50%;
  transform: translateX(-48.5%);
}
